html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}
.wrapper-big {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

body,
ul,
h1,
h2,
h3,
p,
li,
a,
img,
figure{
    margin: 0;
    padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
